{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  {% if user.is_authenticated %}
  {% if next|length > 0 %}
  <meta http-equiv="refresh" content="2;URL={{next}}" />
  {% else %}
  <meta http-equiv="refresh" content="2;URL=/" />
  {% endif %}
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>ADSL DN - Авторизация</title>
  <link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
  <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="{% static 'img/logo.png' %}" class="image">
      <div class="content">
        ADSL DN
      </div>
    </h2>
    {% if user.is_authenticated %}
      <div class="ui error message" >Вы уже авторизованны. Перенаправление на {% if next|length > 0 %}{{next}}{% else %}главную{% endif %}</div>
    {% else %}
    {% if form.errors %}
      <div class="ui error message" >Вы ввели неверный логин или пароль!</div>
    {% endif %}
    <form class="ui large form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.username }}
            {% comment %} <input type="text" name="email" placeholder="E-mail адрес"> {% endcomment %}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password }}
            {% comment %} <input type="password" name="password" placeholder="Пароль"> {% endcomment %}
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">Войти</button>
      </div>
    </form>
    <div class="ui message">
        Перенос аккаунта со старой версии <a href="/transfer">нажмите сюда</a>
    </div>
    {% endif %}
  </div>
</div>

</body>

</html>
